* {
    margin: 0;
    padding: 0;
    box-sizing: boder-box;
}

p {
    color: #ffdeab;
}

h3 {
    font-family: "Tomorrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 20px 0px;
    color: #e3466d;
}

body {
    font-family: Arial, sans-serif;
    background: #032f7a;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background: #0049c7a4;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 1px 4px 20px rgba(255, 255, 255, 0.829);
    width: 90%;
    max-width: 400px;
}

.avatar {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
    box-shadow: 0 0 5px #fff;
    /* Transição suave aplicada aqui */
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.avatar:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #fff;
}

h1 {

    font-size: 2rem;
    color: #d7997b;
}

h2 {
    font-family: 'Tomorrow', sans-serif;
    font-size: 1.2rem;
    color: #ffdeab;
    margin-bottom: 10px;
}

p {
    margin: 20px 0;
}

.habilidade li {
    display: inline-block;
    margin: 0px 5%;
}

.habilidade img {
    width: 50px;
    object-fit: cover;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.habilidade img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #fff;
}

.contato a {
    display: block;
    margin: 8px 0;
    color: #ffdeab;
    text-decoration: none;
}

.contato a:hover {
    text-decoration: underline;
}
.restaurante a{
    text-decoration: none;
    color: #fff;
}

@media (max-width: 480px) {
    .container {
        padding: 20px;
        width: 95%;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1rem;
    }

    p {
        font-size: 0.9rem;
    }

    .habilidade img {
        width: 40px;
    }
}