@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Tomorrow&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

body {
    width: 100%;
    height: 100vh;
    min-height: 960px;
    display: flex;
    flex-wrap: nowrap;
    background: #ccc;
    font-family: "Public Sans", sans-serif;
    font-style: italic;

}

.btnDownload {
    background: #10576a;
    color: white;
    border: 0px solid rgb(255, 255, 255);
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 0px;
}

.btnDownload:hover {
    background: #072237;
    /* Muda a cor ao passar o mouse */
    cursor: pointer;
    /* Muda o cursor para indicar que é clicável */
    box-shadow: 0px 0px 20px rgba(28, 145, 177, 0.9);
}

.container {
    width: 900px;
    margin: 0 auto;
    display: flex;
    height: 100%;
    background-color: white;
}

.cabeçalholateral {
    display: flex;
    align-items: center;
    /* height: 100%; */

}

header {
    width: 18rem;
    height: 100%;
    padding: 30px;
    background: #072237;
    color: white;
    text-align: center;
    position: relative;
}

header .perfil {
    margin: auto;
}

header .perfil .icon {
    margin: 50px 0px;
    width: 10rem;
    border: 10px solid #072237;
    box-shadow: 0px 0px 20px rgb(16, 87, 106, 0.9);
    border-radius: 50%;
    transition: 0.5s;
}

header .perfil .icon:hover {
    box-shadow: 0px 0px 20px rgba(44, 209, 255, 0.9);
}

.perfil h1 {
    font-size: 1.8rem;
    margin-top: 2rem;
}

.perfil h2 {
    font-size: 1rem;
    color: #ccc;
    font-weight: 200;
}

.perfil .apresentacao {
    font-size: 0.99rem;
    letter-spacing: -0.01rem;
    font-weight: 200;
    margin-top: 1.5rem;
    text-align: justify;
    color: #ccc;
}

.contato {
    margin-top: 20px;
    text-align: left;
}

.contato h2 {
    width: 6.9rem;
    margin-bottom: 2rem;
    padding-bottom: 3px;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    border-bottom: 3px solid #10576a;

}

.contato ul {
    list-style: none;
    padding: 0;
    margin: 10px 0px 0px 0px;
}

.contato li {
    margin-bottom: 15px;
}

.contato a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    border-radius: 5px;
    font-size: .8rem;
}

.contato a img {
    width: 1.3rem;
}

/* Configuração Nav */
nav {
    width: 30px;
    height: 100%;
    padding: 50% 0;
}

nav ul {
    display: grid;
    justify-content: center;
    margin: 10px 0;
}
nav li{
    transform: rotate(-90deg);
    border-top: 0px;
    margin-bottom: 90%;
    text-align: center;

}
nav li a{
    padding: 5px 20px;
    background: #10576a;
    list-style: none;
    border: 0px solid rgb(255, 255, 255);
    border-radius: 0rem 0rem .8rem .8rem;
    margin-bottom: 90%;
    /* Adiciona espaço entre os itens do menu */
    width: 100%;
    /* Define uma largura para melhor controle */
    /* Centraliza o texto dentro do 'li' */
    /* transition: 0.5s; */
}

nav li a:hover {
    background: #072237;
    /* Muda a cor ao passar o mouse */
    cursor: pointer;
    /* Muda o cursor para indicar que é clicável */
    box-shadow: 0px 0px 20px rgba(28, 145, 177, 0.9);
}

/* CONTEUDO */
.conteudo {
    width: 800px;
    left: 409px;
    padding: 30px 0px 10px 31px;
    text-align: center;
    /* border: solid 1px ; */
}

.conteudo {
    font-weight: bold;
    color: #10576a;
    display: flex;
    text-align: left;
    flex-direction: column;
    padding-top: 0;
}

.conteudo h2 {
    text-align: center;
    margin: 30px 95px 60px 0px;
    font-size: 30px;
}

.conteudo h3 {
    color: #072237;
}

.conteudo h4 {
    text-transform: uppercase;
    color: #10576a;
}

.conteudo p {
    color: #000000;
    margin: 0 0 20px 0;
    font-weight: 400;
    padding: 0 20px 0 0;
    text-align: justify;
}

.conteudo .descri-taref {
    margin: 0 34px 25px 30px;
    text-align: justify;
}

.habilidades .cx {
    width: 200px;
    height: 10px;
    border: 1px solid black;
}

.habilidades .barra {
    height: 100%;
    width: 0;
    background-color: #10576a;
    transition: width 1s ease;
}

.habilidades h4 {
    display: inline-block;
    margin: 0;
}

/* .educacao, 
.experiencia,
.habilidades,
.premiacoes,
.trabalhos {
    display: none;
} */
.contato-footer {
    display: none;
}

@media (max-width: 767px) {
    body {
        background-color: rgb(255, 255, 255);
        width: 430px;
    }

    .cabeçalholateral {
        max-width: 100%;
        width: 100%;
    }

    .container,
    .cabeçalholateral {
        flex-direction: column;
        margin: 0;
    }

    header {
        width: 100%;
        max-width: 768px;
    }

    header .perfil .icon {
        margin: 0;
        padding: 0;
    }

    .perfil h1 {
        font-size: 1.8rem;
        margin-top: 1rem;
    }

    nav {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    nav ul {
        display: flex;
        flex-wrap: wrap;
        margin: -1px 1px;
        flex-direction: column;
    }

    nav li  {
        display: flex;
        flex-direction: column;
        padding: 0px;
        transform: none;
        margin: 1px 0;
        /* width: 100%; */
        border-radius: 12px;
    }
    nav li  a{
        padding: 5px;
        transform: none;
        margin: 0px 0;
        width: 100%;
        border-radius: 12px;
    }

    .btnDownload {
        margin: 20px 0 0 0;
    }

    .contato {
        display: block;
    }

    .conteudo {
        width: 100%;
    }

    .conteudo h2 {
        text-align: center;
        margin: 30px auto;
        font-size: 30px;
    }

    .contato {
        display: none;
    }
        .contato-footer {
        display: flex;
        height: 100%;
        padding: 18px;
        background: #072237;
        color: #fff;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
    }

    .contato-footer h2 {
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
        border-bottom: 3px solid #10576a;
        width: 30%;

    }

    .contato-footer ul {
        display: flex;
        flex-direction: column;
        list-style: none;
    }

    .contato-footer li {
        display: flex;
        flex-direction: row;
        margin: 10px auto;
    }

    .contato-footer a {
        display: flex;
        text-align: center;
        margin: 0;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;,
        
    }

    .contato-footer img{
        margin: 0px 19px;
        height: 55%;
    }

}

@media (min-width: 768px) {

    /* estilos aplicados até 768px de largura (celulares e tablets) */
    body {
        background-color: blue;
    }
}

@media (min-width: 1024px) {

    body {
        background-color: brown;
    }

}

@media (min-width: 1200px) {

    body {
        background-color: yellow;

    }

}