@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Tomorrow&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
    font-family: "Public Sans", sans-serif;
}

.c90 {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    margin: 0 auto;

}

.w20 {
    width: 20%;
}

.w30 {
    width: 30%;
}

.w50 {
    width: 50%;
}

.w70 {
    width: 70%;
}

.w100 {
    width: 100%;
}

a {
    text-decoration: none;
}

body {
    min-height: 900px;
    font-family: "Public Sans", sans-serif;

}

.botao {
    background: #10576a;
    color: white;
    border: 1px solid rgb(255, 255, 255);
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 0px;
}

.botao:hover {
    background: #072237;
    /* Muda a cor ao passar o mouse */
    cursor: pointer;
    /* Muda o cursor para indicar que é clicável */
    box-shadow: 0px 0px 20px rgba(28, 145, 177, 0.9);
}

/* CABEÇALHO */
header {
    display: flex;
    width: 100%;
    height: 15vh;
    background: #072237;
    color: white;
    padding: 12px 60px;
}

header .c90 {
    display: flex;

}

header .c90 div h2 {
    align-items: center;
    text-align: center;
}

header .icon {
    width: 150px;
    height: 150px;
    background-image: url("../img/Login Fernando-Vargas.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 10px solid #072237;
    box-shadow: 0px 0px 20px #10576ae6;
    border-radius: 50%;
    transition: 0.5s;
}

header .icon:hover {
    box-shadow: 0px 0px 20px #2cd1ffe6;
}

header a {
    margin-top: 40px;
}

/* MAIN */
main .card {
    min-width: 250px;
    max-width: 250px;
    margin: 5px;
    border-radius: 25px;
    border: 2px solid #072237;
    transition: 1s;

}

main .card:hover {
    box-shadow: 0px 0px 20px #10576a;
}

main .c90 {
    justify-content: center;
    margin: 0 auto;
    padding: 50px 0;
}

.fundo {
    height: 200px;
}

.rodape-card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    border-top: 2px solid #10576a;
    border-radius: 0px 0px 20px 20px;
    background-color: #072237;
    color: aliceblue;
}

.calculadora {
    border-radius: 20px 20px 0px 0px;
    background-image: url(../img/imgProjetoCalculadora.png);
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    height: 10vh;
    background: #072237;
    color: white;
}


@media (max-width: 768px) {

    body {
        background-color: aqua;
    }

}

@media (min-width: 768px) {

    /* estilos aplicados até 768px de largura (celulares e tablets) */
    body {
        background-color: blue;
    }
}

@media (min-width: 1024px) {

    body {
        background-color: brown;
    }

}

@media (min-width: 1200px) {

    body {
        background-color: yellow;
    }

}